  <!DOCTYPE html>
  <html lang="fr">
    <head>
      <meta charset="UTF-8" />
      <title><%= title %></title>
      <meta
        name="description"
        content="Retrouvez le calendrier scolaire des vacances pour toutes les départements de la France."
      />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <link rel="manifest" href="/images/favicon.png">
  <link rel="mask-icon" href="/images/favicon.png" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="canonical" href="https://vacances-scolaires.education/carte/" />

</head>
    </head>
    <body>
      <header class="fixed">
        <div class="nav">
          <nav>
            <a href="/" class="logo"></a>
            <label for="btn" id="burger" class="icon" onclick="burger()">
              <span class="fa fa-bars icon_span"></span>
            </label>
            <input type="checkbox" id="btn" />
            <ul>
              <li>
                <a href="/regions" class="<%= route && route === 'regions' ? 'on' : '' %>"><%= t('regions') %></a>
              </li>
              <li>
                <a href="/academie" class="<%= route && route === 'academie' ? 'on' : '' %>"><%= t('academies') %></a>
              </li> 
              <li>
                <select id="language-selector" aria-label="<%= t('select_language') %>">
                  <option value="en" <%= language === 'en' ? 'selected' : '' %>>English</option>
                  <option value="fr" <%= language === 'fr' ? 'selected' : '' %>>Français</option>
                </select>
              </li>                        
            </ul>
          </nav>
        </div>
        <div class="moteur">
          <div class="search" id="moteur">
            <form class="search-form" action="/recherche/">
              <div class="input-wrapper">
                <input
                  type="text"
                  name="q"
                  id="recherche"
                  placeholder="<%= t('search_placeholder') %>"
                  autocomplete="off"
                />
                <button type="submit" id="bouton" aria-label="<%= t('search_button_aria_label') %>"></button>
              </div>
            </form>
          </div>
        </div>
        
      </header>
      <!-- <div class="digiespace"></div> -->
<!-- <div class="digiHaut"></div> -->
      <div class="main" style="min-height: 80vh;">
      <main id="main">
        <%- include(content) %>
      </main>
      <aside id="aside">
        <!-- <div class="digiColonne"></div> -->
        <div class="date dA tailleC">
          <div class="zone zA"><span>Zone A</span></div>
          <div id="holidayNameA" class="holiday-name"></div>
          <span id="cZoneA" class="lesdates countdown-display"></span>
          
        </div>
        <div class="date dB tailleC">
          <div class="zone zB"><span>Zone B</span></div>

    <div id="holidayNameA" class="holiday-name"></div>
          <span id="cZoneB" class="lesdates countdown-display"></span>
        </div>
        <div class="date dC tailleC">
          <div class="zone zC"><span>Zone C</span></div>

    <div id="holidayNameA" class="holiday-name"></div>
          <span id="cZoneC" class="lesdates countdown-display"></span>
        </div>
        <div class="date dCorse tailleC">
          <div class="zone zCorse"><span>Corse</span></div>
            <div id="holidayNameA" class="holiday-name"></div>
          <span id="cCorse" class="lesdates countdown-display"></span>
        </div>
        <br>
<div class="centerdiv" style="width:296px;height:353px;">
    <a href="/carte" title="Carte des zones des vacances scolaires"><img src="/images/france-vacances-scolaires.webp" alt="Carte des zones des vacances scolaires" width="296px" height="353px"/></a>
</div>
    </aside>
        <div class="spacer"></div>
      </div>
      <footer>
        <span class="margin5 b"><%= t('footer_text') %></span>
        <a href="/cgu.php" class="margin5 b blanc"><%= t('footer_terms') %></a>
      </footer>
      <!-- ! Countdown -->
      <script>
    
        // Default countdown data
        const defaultCountdownData = [
          { zone: "Zone A", countdown_start_date: null },
          { zone: "Zone B", countdown_start_date: null },
          { zone: "Zone C", countdown_start_date: null },
          { zone: "Corse", countdown_start_date: null }
        ];
      
        // Use provided countdownData or fallback to default values
        const countdownData = <%- JSON.stringify(countdownData || []) %>;
        const activeCountdownData = countdownData.length ? countdownData : defaultCountdownData;
      
        const updateCountdowns = () => {
          const now = new Date().getTime();
      
          activeCountdownData.forEach((data) => {
            const elementId = `c${data.zone.replace(/\s/g, '')}`;
            const targetElement = document.getElementById(elementId);
      
            if (targetElement) {
              if (data.countdown_start_date) {
                const targetDate = new Date(data.countdown_start_date).getTime();
                const timeDiff = targetDate - now;
      
                if (timeDiff <= 0) {
                  // Countdown has ended, display 00
                  targetElement.innerHTML = `
                <div style="text-align: center; font-family: Arial, sans-serif;">
                  <p style="font-size: 14px; font-weight: bold; margin-bottom: 0px;">
                    commence dans
                  </p>
                  <div class="time-segment" style="display: inline-block; margin: 0px 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${"00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Mois</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0px 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${ "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Jours</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${"00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Heures</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${"00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Minutes</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${"00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Secondes</span>
                  </div>
                </div>
                  `;
                  return;
                }
      
                const totalDays = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                const months = Math.floor(totalDays / 30.44); // Calculate months
                const days = totalDays % 30.44; // Remaining days after calculating months
                const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);
                
                targetElement.innerHTML = `
                <div style="text-align: center; font-family: Arial, sans-serif;">
                  <p style="font-size: 14px; font-weight: bold; margin-bottom: 0px;">
                    ${data.description || "N/A"} commence dans
                  </p>
                  ${months > 0 ? `
                  <div class="time-segment" style="display: inline-block; margin: 0px 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${months || "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Mois</span>
                  </div>` : ''}
                  <div class="time-segment" style="display: inline-block; margin: 0px 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${Math.floor(days) || "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Jours</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${hours || "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Heures</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${minutes || "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Minutes</span>
                  </div>
                  <div class="time-segment" style="display: inline-block; margin: 0 0px; text-align: center;">
                    <span class="value" style="font-size: 18px; font-weight: bold;">${seconds || "00"}</span>
                    <span class="label" style="display: block; font-size: 10px;">Secondes</span>
                  </div>
                </div>`;
                
              } else {
                // No countdown_start_date, display default 00
                targetElement.innerHTML = `
                  <div class="time-segment">
                    <span class="value">00</span>
                    <span class="label">Days</span>
                  </div>
                  <div class="time-segment">
                    <span class="value">00</span>
                    <span class="label">Hours</span>
                  </div>
                  <div class="time-segment">
                    <span class="value">00</span>
                    <span class="label">Minutes</span>
                  </div>
                  <div class="time-segment">
                    <span class="value">00</span>
                    <span class="label">Seconds</span>
                  </div>
                `;
              }
            }
          });
        };
      
        // Initialize countdowns with default 00
        const initializeCountdowns = () => {
          activeCountdownData.forEach((data) => {
            const elementId = `c${data.zone.replace(/\s/g, '')}`;
            const targetElement = document.getElementById(elementId);
      
            if (targetElement) {
              targetElement.innerHTML = `
                <div class="time-segment">
                  <span class="value">00</span>
                  <span class="label">Days</span>
                </div>
                <div class="time-segment">
                  <span class="value">00</span>
                  <span class="label">Hours</span>
                </div>
                <div class="time-segment">
                  <span class="value">00</span>
                  <span class="label">Minutes</span>
                </div>
                <div class="time-segment">
                  <span class="value">00</span>
                  <span class="label">Seconds</span>
                </div>
              `;
            }
          });
        };
      
        // Initialize and update countdowns
        initializeCountdowns();
        setInterval(updateCountdowns, 1000);
        updateCountdowns();
      </script>

      <script src="/js/switch-language.js"></script>

    </body>

  </html>
