<section class="about-section">
    <div class="about-container">
      <h1 class="about-title"><%= t('about.title') %></h1>
      <p class="about-intro">
        <strong><%= t('about.siteName') %></strong> <%= t('about.intro') %>
      </p>
  
      <p><%= t('about.updateInfo') %></p>
      <ul class="about-list">
        <li><%= t('about.holidays.toussaint') %></li>
        <li><%= t('about.holidays.noel') %></li>
        <li><%= t('about.holidays.hiver') %></li>
        <li><%= t('about.holidays.printemps') %></li>
        <li><%= t('about.holidays.grandesVacances') %></li>
      </ul>
  
      <p><%= t('about.regionsInfo') %></p>
  
      <h2><%= t('about.whyTitle') %></h2>
      <p><%= t('about.whyIntro') %></p>
      <ul class="about-list">
        <li><%= t('about.whyList.travel') %></li>
        <li><%= t('about.whyList.activities') %></li>
        <li><%= t('about.whyList.planning') %></li>
      </ul>
  
      <h2><%= t('about.whatWeOffer') %></h2>
      <p><%= t('about.offerIntro') %></p>
      <ul class="about-list">
        <li><%= t('about.tools.counters') %></li>
        <li><%= t('about.tools.search') %></li>
        <li><%= t('about.tools.tables') %></li>
      </ul>
  
      <h2><%= t('about.commitmentTitle') %></h2>
      <p><%= t('about.commitmentText') %></p>
    </div>
  </section>
  