<div>
    <% if (error) { %>
    <!-- Show Error Message -->
    <div style="text-align: center; padding: 50px; height: 70vh;">
      <h1>Résultats Non Trouvés</h1>
    </div>
    <% } else { %>
    <!-- Show Main Content -->
  <!-- Menu -->
  <div class="dropdown-container-home">

    <!-- Dropdown to select a year -->
  <select id="yearDropdown" onchange="navigateToYearRegions()">
  <% for (let tempYear = 2017; tempYear <= 2025; tempYear++) { %>
    <option value="<%= tempYear %>" <%= tempYear === year ? 'selected' : '' %>>
      <%= tempYear %>
    </option>  
  <% } %>
  </select>
  
    <div id="menu_annee">
      <ul>
        <li>
          <a
          id="actif"
          >
          <%= year %>
          </a>
        </li>
      </ul>
     </div>
    </div>
    <h1><%= mainHeading %></h1>
    <% if (subHeading) { %>
      <div class="date <%= zone === 'Zone A' ? 'ddA' : zone === 'Zone B' ? 'ddB' : zone === 'Zone C' ? 'ddC' : 'ddCorse' %>">
        <span class="lesdates <%= zone === 'Zone A' ? 'a' : zone === 'Zone B' ? 'b' : zone === 'Zone C' ? 'c' : 'corse' %>" style="font-size: 20px;">
          <%= subHeading %>
        </span>
      </div>
      
    <% } %> <% vacations.forEach(vacation => { %>
    <div class="dateTitre">
      <a href="<%= vacation.link %>"><%= vacation.title %></a>
    </div>
    <div class="date <%= zone === 'Zone A' ? 'dA' : zone === 'Zone B' ? 'dB' : zone === 'Zone C' ? 'dC' : 'dCorse' %>">
      <div class="zone <%= zone === 'Zone A' ? 'zA' : zone === 'Zone B' ? 'zB' : zone === 'Zone C' ? 'zC' : 'zCorse' %>"><span><%= zone %></span></div>
      <span class="lesdates">
        <% if (vacation.startDate) { %> Fin des cours :
        <b><%= vacation.startDate %></b><br />
        <% } %> <% if (vacation.endDate) { %> Jour de reprise :
        <b><%= vacation.endDate %></b>
        <% } %>
      </span>
    </div>
    <% }); %>
    <div class="spacer"></div>
    <% } %>
</div>

<script>
  function navigateToYearRegions() {
    const dropdown = document.getElementById('yearDropdown');
    const selectedYear = dropdown.value;
    console.log("selectedYear", selectedYear);
    window.location.href = `/regions/year?of=${selectedYear}&region_name=<%= region_name %>&zone=<%= zone %>&department=<%= department %>`;
  }
</script>

