<div class="main">
  <% if (error) { %>
  <!-- Error Handling -->
  <div style="text-align: center; padding: 50px; height: 70vh">
    <h1>Résultats Non Trouvés</h1>
  </div>
  <% } else { %>
  <!-- Main Content -->
  <main id="main">
    <div id="menu_annee">
      <ul>
        <li>
          <a
            href="<%= pageURL24 %>"
            id="<%= isActiveURL24 ? 'actif' : '' %>"
            title="vacances scolaires 2025 zone A"
            >2024-2025</a
          >
        </li>
        <li>
          <a
            href="<%= pageURL25 %>"
            id="<%= isActiveURL25 ? 'actif' : '' %>"
            title="vacances scolaires 2026 zone A"
            >2025-2026</a
          >
        </li>
      </ul>
    </div>
    <h1><%= mainHeading %></h1>
    <% if (subHeading) { %>
    <div class="date ddA">
      <span class="lesdates a" style="font-size: 20px"><%= subHeading %></span>
    </div>
    <% } %> <% vacations.forEach(vacation => { %>
    <div class="dateTitre">
      <a href="<%= vacation.link %>"><%= vacation.title %></a>
    </div>
    <div class="date dA">
      <div class="zone zA"><span><%= zone %></span></div>
      <span class="lesdates">
        <% if (vacation.startDate) { %> Fin des cours :
        <b><%= vacation.startDate %></b><br />
        <% } %> <% if (vacation.endDate) { %> Jour de reprise :
        <b><%= vacation.endDate %></b>
        <% } %>
      </span>
    </div>
    <% }); %>
    <div class="spacer"></div>
  </main>
  <% } %>
</div>
