<div class="main">
    <main id="main">
      <h1>Pont de l'Ascension 2024</h1>
      <div class="date taille25">&nbsp;</div>
      <% zones.forEach(zone => { %>
        <div class="date dd<%= zone.text.charAt(zone.text.length - 1) %> taille33">
          <a
            href="<%= zone.href %>"
            class="<%= zone.className %>"
            title="<%= zone.title %>"
          >
            <%= zone.text %>
          </a>
        </div>
      <% }) %>
      <div class="spacer"></div>
      <!-- vacation 2024  -->
      <% vacation2024.forEach((item) => { %>
        <div class="dateLibelle dLibelle taille25">
          <a href="<%= item.link %>" class="noir b"><%= item.title %></a>
        </div>
        <div class="date dZ <%= item?.isOff ? 'off' : '' %>">
          <div class="zone zZ">
            <div class=<%= item.className %>><%= item.zoneA %></div>
            <div class=<%= item.className %>><%= item.zoneB %></div>
            <div class=<%= item.className %>><%= item.zoneC %></div>
          </div>
          <span class="lesdates">
            Fin des cours : <b><%= item.startDate %></b> <br>
            Jour de reprise : <b><%= item.endDate %></b>
          </span>
        </div>
      <% }); %>
      <div class="spacer"></div>
      <h1>Pont de l'Ascension 2025</h1>
      <div class="date taille25">&nbsp;</div>
      <% zones.forEach(zone => { %>
        <div class="date dd<%= zone.text.charAt(zone.text.length - 1) %> taille33">
          <a
            href="<%= zone.href %>"
            class="<%= zone.className %>"
            title="<%= zone.title %>"
          >
            <%= zone.text %>
          </a>
        </div>
      <% }) %>
      <div class="spacer"></div>
      <!-- vacation 2025  -->
      <% vacation2025.forEach((item) => { %>
        <div class="dateLibelle dLibelle taille25">
          <a href="<%= item.link %>" class="noir b"><%= item.title %></a>
        </div>
        <div class="date dZ <%= item?.isOff ? 'off' : '' %>">
          <div class="zone zZ">
            <div class=<%= item.className %>><%= item.zoneA %></div>
            <div class=<%= item.className %>><%= item.zoneB %></div>
            <div class=<%= item.className %>><%= item.zoneC %></div>
          </div>
          <span class="lesdates">
            Fin des cours : <b><%= item.startDate %></b> <br>
            Jour de reprise : <b><%= item.endDate %></b>
          </span>
        </div>
      <% }); %>
      <div class="spacer"></div>
      <br />
      <h1>Pont de l'Ascension 2026</h1>
      <div class="date taille25">&nbsp;</div>
      <% zones.forEach(zone => { %>
        <div class="date dd<%= zone.text.charAt(zone.text.length - 1) %> taille33">
          <a
            href="<%= zone.href %>"
            class="<%= zone.className %>"
            title="<%= zone.title %>"
          >
            <%= zone.text %>
          </a>
        </div>
      <% }) %>
      <div class="spacer"></div>
      <!-- vacation 2026  -->
      <% vacation2026.forEach((item) => { %>
        <div class="dateLibelle dLibelle taille25">
          <a href="<%= item.link %>" class="noir b"><%= item.title %></a>
        </div>
        <div class="date dZ <%= item?.isOff ? 'off' : '' %>">
          <div class="zone zZ">
            <div class=<%= item.className %>><%= item.zoneA %></div>
            <div class=<%= item.className %>><%= item.zoneB %></div>
            <div class=<%= item.className %>><%= item.zoneC %></div>
          </div>
          <span class="lesdates">
            Fin des cours : <b><%= item.startDate %></b> <br>
            Jour de reprise : <b><%= item.endDate %></b>
          </span>
        </div>
      <% }); %>
      <div class="spacer"></div>
    </main>
  </div>
  